.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}
.head ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head ul li{
   margin-right: 32px;
}
.btn{
    margin-left: 15px;
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    padding: 18px 30px;
    color: #F58A07;
}
.blue{
    background: #DCEAF5;
}
.dude{
    display: flex;
    justify-content: space-around;
    height: 703px;
}
.dude .right{
    justify-content: left;
    padding-left: 325px;
    padding-right: 53px;
}
.dude .right .f{
    font-size: 64px;
    color: #1D3444;
    font-weight: 600;
    padding-top: 117px;
    line-height: 72px;
}
.dude .right .hed{
    display: flex;
    flex-wrap: wrap;
    width: 576px;
}
.desc{
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin-top: 12px;
}
.see{
    margin-top: 32px;
}
.see :first-child{
    width: 199px;
    height: 54px;
    background: #F58A07;
    border-radius: 27px;
    padding: 18px 32px 19px;
    display: inline-block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}
.see :last-child{
    margin-left: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 106.5%;
}
.mid p{
    margin-top: 56px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgba(57, 65, 73, 0.5);
}
.logo img{
    margin-right: 48px;
}
.dude .left img{
    margin-top: 58px;
    margin-right: 230px;
}
.top h2{
    width: 735px;
height: 112px;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 56px;
color: #1D3444;
}
.top p{
    width: 735px;
    height: 90px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #5B5B5B;
}
.help-section{
    height: 919px;
}
.help-section .top{
    margin-top: 83px;
}
.help-section .bott{
    height: 447px;
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}
.card{
    width: 399px;
}
.help-section .bott .card img{
    border-radius: 20px;
}
.title{
    font-weight: 500;
font-size: 24px;
line-height: 106.5%;
letter-spacing: -0.03em;
color: #0D1317;
margin-top: 33px;
}

.plus{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 28px;
color: #5B5B5B;
margin-top: 17px;
}
.card span{
    margin-top: 24px;
    font-weight: 500;
font-size: 16px;
line-height: 106.5%;
color: #F58A07;
}
.features-section{
     background: #EDF7FF;
     height: 665px;
}
.features-section .top{
    display: flex;
    justify-content: space-between;
}
.features-section .top :first-child{
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #0D1317;
    width: 619px;
    /* height: 132px; */
    margin-top: 96px;
}
.features-section .top :last-child{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #1D3444;
width: 620px;
height: 102px;
margin-top: 102px;
}
.features-section .bott{
    display: flex;
    justify-content: space-between;
    margin-bottom: 96px;
    height: 277px;
}
.features-section .bott .card{
    width: 401px;
    height: 277px;
    background: #FFFFFF;
    border-radius: 20px;
    padding-left: 39px;
    padding-top: 38px;
}
.features-section .bott .card .title{
    font-weight: 500;
    font-size: 24px;
    line-height: 106.5%;
    letter-spacing: -0.03em;
    color: #0D1317;
}
.features-section .bott .card :last-child{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
    padding-bottom: 37px;
}
.about-section{
    margin-bottom: 96px;
}
.about-section .container{
    height: 667px;
    display: flex;
    justify-content: space-between;
    margin-top: 96px;
}
.about-section .about-text .title{
    width: 596px;
    height: 157px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin-top: 67px;
}
.about-section .about-text .cont{
    width: 510px;
    height: 120px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}
.about-feature{
    width: 264px;
    height: 192px;
}

.about-text .bottomm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 55px;
    margin-top: 48px;
}
.about-feature h3{
    font-family: 'Inter', sans-serif;
font-weight: 600;
font-size: 36px;
color: #F58A07;
width: 66px;
height: 50px;
margin: 0;
}
.about-section .bottomm .about-feature .titl{
    font-weight: 600;
    font-size: 24px;
    color: #0D1317;
    margin: 0;
}
.about-feature :last-child{
    font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #5B5B5B;
}
.service-section{
    height: 906px;
}
.service-section>.container{
    width: 1274.39px;
height: 682px;
background: #EDF7FF;
border-radius: 20px;
}
.service-section>.servimg{
    position: absolute;
    width: 179px;
    height: 178px;
    left: 1588px;
    top: 3306px;
}
.service-section .service-tab .service-tabb{
    display: flex;
    flex-direction: row;
    float: left;
    margin-top: 48px;
    margin-right: 24px;
}
.service-section .service-tab .tab1{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #F58A07;
    background: #FFFFFF;
    border-radius: 31px;
    padding: 8px 24px;
    margin-left: 48px;
}
.service-section .service-tab .tab2{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(6, 50, 85, 0.3);
    border: 1px solid #A8BCCC;
    border-radius: 31px;
    padding: 8px 24px;
}